h1, img{
    display: inline-block;
    vertical-align: middle;
}
main{
    background-color: lightgray;
}
.container{
    
    padding-top: 30px;
    margin-left: 15%;
    height: 900px;
    width: 70%;
}
.container1{
    height: 60px;
    background-color: white;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 100px;
    margin-bottom: 1px;
    
}
.container2{
    background-color: white;
    border: 1px solid white;
    margin-right: 100px;
}
.add1{
    background-color: rgb(21, 108, 249);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 10px 10px ;
    margin-left: 100px;
}
.add2{
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 10px ;
        
}
.color-blue{
    background-color: rgb(21, 108, 249);
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
li{
    list-style-type: none;
    padding: 15px;
}
.color-purple{
    background-color: rgb(128, 47, 204);
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
.color-lightgreen{
    background-color: rgb(3, 196, 196);
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
.color-orange{
    background-color: orange;
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
.color-fuxia{
    background-color: fuchsia;
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
.color-green{
    background-color: rgb(44, 186, 44);
    padding: 5px;
    color: white;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
}
body{

        font-family: "Sarabun", sans-serif;
        font-weight: 400;
        font-style: normal;
      

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fatto{
    text-decoration: line-through;
    color: green;
}
.d-none{
    display: none;
}